body {
    font: var(--font-weight-light) var(--font-size-regular) / var(--line-height-regular) var(--font-family-outfit);
    background-color: var(--blue-950);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-500);
}

main {
    background-color: var(--blue-900);
    border-radius: var(--spacing-200);
    padding: var(--spacing-300);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-300);
    width: 302px;
}

.card__button {
    margin: 0;
    border-radius: var(--spacing-100);
    overflow: hidden;
    padding: 0;
    border: none;
    background: none;
    position: relative;
}
.card__button__image {
    width: 100%;
}

.card__button__view {
    position: absolute;
    z-index: 2;
    inset: 0;
    width: 48px;
    height: 48px;
    margin: auto;
    display: none;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
}

.card__content__header {
    font: var(--font-weight-semibold) var(--font-size-xl) / var(--line-height-regular) var(--font-family-outfit);
    color: var(--white);
    margin: 0;
}

.card__content p {
    margin: 0;
    font: var(--font-weight-light) var(--font-size-large) / var(--line-height-large) var(--font-family-outfit);
}

.card__details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card__details__element {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
}

.rate {
    color: var(--cyan-400);
    font: var(--font-weight-semibold) var(--font-size-regular) / var(--line-height-regular) var(--font-family-outfit);
    /*height: 18px;*/
}

.deadline {
    font: var(--font-weight-semibold);
}

.card__details__element p {
    margin: 0;
}

footer {
    display: flex;
    padding-top: var(--spacing-300);
    border-top: solid 1px var(--blue-800);
    gap: var(--spacing-200);
    width: 100%;
    align-items: center;
}

footer img {
    width: 32px;
    height: 32px;
    border: solid 1px var(--white);
    border-radius: 50%;
}

footer p {
    margin: 0;
}

.author{
    color: var(--white);
}

/*STATES*/

.text--active{
    color: var(--cyan-400);
}

.card__button__view--active {
    display: block;
}

.card__button:hover::before {
    background-color: var(--cyan-400);
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;
}